openapi: 3.0.0
info:
  version: 1.3-oas3
  title: Rixian Drive API
  description: |-
    This OAS3 (Swagger 3) file represents the Rixian Drive API that lives at https://api.rixian.io/drive.
  contact:
    name: Stoplight
    url: 'https://stoplight.io'
  license:
    name: MIT
paths:
  /cmd/download:
    get:
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
      summary: Download Content
      operationId: download-content
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
  /cmd/info:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drive-item-info'
      summary: Get Item Info
      operationId: get-item-info
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
  /cmd/import:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/drive-file-info'
      summary: Import Files
      operationId: import-files
      parameters:
        - in: query
          name: path
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/import-request'
  /cmd/list-metadata:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
      summary: List File Metadata
      operationId: list-file-metadata
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
  /cmd/upsert-metadata:
    post:
      responses:
        '204':
          description: ''
      summary: Upsert File Metadata
      operationId: upsert-file-metadata
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/upsert-file-metadata-request'
  /cmd/clear-metadata:
    post:
      responses:
        '204':
          description: ''
      summary: Clear File Metadata
      operationId: clear-file-metadata
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
  /cmd/remove-metadata:
    post:
      responses:
        '204':
          description: ''
      summary: Remove File Metadata
      operationId: remove-file-metadata
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
        - in: query
          name: key
          required: true
          schema:
            type: string
  /cmd/delete:
    post:
      responses:
        '204':
          description: ''
      summary: Delete Item
      operationId: delete-item
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
  /cmd/create:
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/drive-item-info'
      summary: Create Drive Item
      operationId: create-drive-item
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
        - in: query
          name: overwrite
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              format: binary
  /cmd/dir:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/drive-item-info'
      summary: List Children
      operationId: list-children
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
  /cmd/exists:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exists-response'
      summary: Exists
      description: ''
      operationId: exists
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
  /cmd/streams:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      summary: List File Streams
      operationId: list-file-streams
      parameters:
        - in: query
          name: path
          required: true
          schema:
            type: string
  /cmd/copy:
    post:
      responses:
        '204':
          description: ''
      summary: Copy
      operationId: copy
      parameters:
        - in: query
          name: source
          required: true
          schema:
            type: string
        - in: query
          name: target
          required: true
          schema:
            type: string
  /cmd/move:
    post:
      responses:
        '204':
          description: ''
      summary: Move
      operationId: move
      parameters:
        - in: query
          name: source
          required: true
          schema:
            type: string
        - in: query
          name: target
          required: true
          schema:
            type: string
servers:
  - url: 'https://api.rixian.io/drive'
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    drive-item-info:
      type: object
      title: DriveItemInfo
      discriminator:
        propertyName: type
        mapping:
          file: '#/components/schemas/drive-file-info'
          directory: '#/components/schemas/drive-directory-info'
      properties:
        id:
          type: string
          format: uuid
        tenantId:
          type: string
          format: uuid
        partitionId:
          type: string
          format: uuid
        type:
          type: string
        fullPath:
          type: string
        createdOn:
          type: string
          format: date-time
        lastAccessedOn:
          type: string
          format: date-time
        lastModifiedOn:
          type: string
          format: date-time
        name:
          type: string
        attributes:
          type: array
          items:
            type: string
      required:
        - id
        - tenantId
        - partitionId
        - fullPath
        - createdOn
        - lastAccessedOn
        - lastModifiedOn
        - name
        - attributes
        - type
    upsert-file-metadata-request:
      type: object
      title: UpsertFileMetadataRequest
      properties:
        metadata:
          type: object
          additionalProperties:
            type: string
    drive-file-stream:
      type: object
      title: DriveFileStream
      properties:
        tenantId:
          type: string
          format: uuid
        partitionId:
          type: string
          format: uuid
        fileId:
          type: string
          format: uuid
        createdOn:
          type: string
          format: date-time
        lastAccessedOn:
          type: string
          format: date-time
        lastModifiedOn:
          type: string
          format: date-time
        name:
          type: string
        length:
          type: integer
          format: int64
        contentType:
          type: string
      required:
        - tenantId
        - partitionId
        - fileId
        - createdOn
        - lastAccessedOn
        - lastModifiedOn
        - name
        - length
        - contentType
    drive-file-info:
      title: DriveFileInfo
      allOf:
        - $ref: '#/components/schemas/drive-item-info'
        - type: object
          properties:
            parentDirectoryId:
              type: string
              format: uuid
            length:
              type: integer
              format: int64
            contentType:
              type: string
            isShortcut:
              type: boolean
            alternateId:
              type: string
          required:
            - parentDirectoryId
            - length
            - contentType
            - isShortcut
            - alternateId
    drive-directory-info:
      allOf:
        - $ref: '#/components/schemas/drive-item-info'
        - type: object
          properties:
            parentDirectoryId:
              type: string
              format: uuid
            hasChildren:
              type: boolean
          required:
            - hasChildren
      title: DriveDirectoryInfo
    exists-response:
      type: object
      title: ExistsResponse
      properties:
        exists:
          type: boolean
      required:
        - exists
    import-request:
      type: object
      title: ImportRequest
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/import-record'
      required:
        - exists
    import-record:
      type: object
      title: ImportRecord
      properties:
        name:
          type: string
        alternateId:
          type: string
        length:
          type: integer
          format: int64
        contentType:
          type: string
        importPath:
          type: string
        overwrite:
          type: boolean
      required:
        - name
        - alternateId
